:root {
    --pink: #D9CDF7;
    --body-text: #271A45;     
}

:focus {    
    outline: transparent;
    box-shadow: 0 0 0 1px var(--body-text);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--pink);
    color: var(--body-text);
    -webkit-font-smoothing: antialiased;  
    
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

body, input, textarea, button {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}